{% extends "baseform.html" %}

{% block title %}
<link rel="stylesheet" href="{{ url_for('static', filename='login.css')}}">
{% endblock %}

{% block form %}
<h1>Welcome back! Sign In</h1>
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<p style="color: red;">{{ message }}</p>
{% endfor %}
{% endif %}
{% endwith %}
<form action="" method="post" autocomplete="off" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.email(class="form-content", placeholder="Email ...")}}
        {% for error in form.email.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ form.password(class="form-content", placeholder="Password ...")}}
        {% for error in form.password.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    <p class="submit-container">
        {{ form.submit(class="submit") }}
    </p>
</form>
<p class="register">Not a User?<a href="{{ url_for('register')}}">Register here</a> </p>
<p class="register"><a href="{{ url_for('reset_password_request')}}">Forgot Password?</a> </p>
<p style="margin-top: 5px;"><a href="{{url_for('index') }}">Back to homepage</a></p>
{% endblock %}

