{% extends "baseform.html" %}

{% block title %}
<link rel="stylesheet" href="{{ url_for('static', filename='login.css')}}">
{% endblock %}

{% block form %}
<h1>Reset Password</h1>
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<p style="color: red;">{{ message }}</p>
{% endfor %}
{% endif %}
{% endwith %}
<form action="" method="post" autocomplete="off" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.password(class="form-content", placeholder="Password ...")}} <br>
        {% for error in form.password.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ form.repeat_password(class="form-content", placeholder="Reset_password ...")}} <br>
        {% for error in form.repeat_password.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    <p class="submit-container">
        {{ form.submit(class="submit") }}
    </p>
</form>
{% endblock %}